@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');




/* Variables */
:root {
  --font-size: 1rem;
}



.dark-mode {
  --navbar-color: #111010;
  --navbar-bg-color: #fff;
}

/* Reset */
* {
  box-sizing: border-box;
  outline: none;
  margin: 0 auto;
  padding: 0;
}

ul {
  list-style: none;
}

/* Basic style */
body {
  margin: 0;
  font: size 1rem;
 


  body {
    font-family: Arial, Helvetica, sans-serif;
  }


}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.1rem;
  background-color: rgba(243, 227, 174, 0.74);
  position: sticky;
}

.navbar__logo {
  margin-left: 40px;
  align-items: center;
  font-weight: bold;
  font-size: 1.9rem;
  color: black;
}

.navbar__logo a {
  text-decoration: none;
  color: black;
}

.navbar__links {
  display: flex;
  align-items: center;
}

.navbar__link {
  padding: 0 40px;
}

.navbar__link>a {
  color: var(--navbar-color);
  text-decoration: none;
}

.burger {
  display: none;
}

/*  Small device */
@media screen and (max-width:767.98px) {
  .navbar__links {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 0;
    height: calc(100vh - 65px);
    position: absolute;
    top: 0;
    top: 65px;
    right: 0;
    z-index: 100;
    background-color: rgba(236, 230, 230, 0.295);
    background-size: cover;
    backdrop-filter: blur(18px);
    transform: translateX(110%);
    transition: all .5s ease-in-out;
  }



  .show-nav .navbar__links {

    width: 100vw;
    transform: translateX(0);
  }

  .navbar__link {
    transform: translateX(101%);
    transition: all .5s ease-in-out;
    
  }

  .show-nav .navbar__link {
    transform: translateX(0);
  }

  .navbar__link>a {
    display: block;
    padding: 1rem;
    font-size: 2rem;
    
    color: #111010;
    transition: all .4s ease-in-out;
  }

  .navbar__link>a:hover {
    padding-left: 2rem;
    letter-spacing: 5px;
  }

  /* Toggle menu */
  .burger {
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 3px;
    background: var(--navbar-color);
    transition: all .5s ease-in-out;
  }

  .bar::before,
  .bar::after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background: black;
    border-radius: 3px;
    transition: all .5s ease-in-out;
  }

  .bar::before {
    transform: translateY(-12px)
  }

  .bar::after {
    transform: translateY(12px)
  }

  .show-nav .bar {
    width: 0;
    background: transparent;
  }

  .show-nav .bar::before {
    transform: rotate(45deg);
  }

  .show-nav .bar::after {
    transform: rotate(-45deg);
  }

  /* Bonus - Animations */
  .show-nav .first {
    transition: all 1s ease-out;
  }

  .show-nav .second {
    transition: all 1.1s ease-out;
  }

  .show-nav .third {
    transition: all 1.2s ease-out;
  }

  .show-nav .four {
    transition: all 1.3s ease-out;
  }

  .show-nav .fifth {
    transition: all 1.4s ease-out;
  }
}

/*  Medium device - Bonus */
@media screen and (min-width:768px) {
  .navbar__link>a::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background: var(--navbar-color);
    transition: width .4s;
  }

  .navbar__link:hover>a::after {
    width: 100%;
  }
}

.contenaire {
  margin: 0 auto;
  max-width: 1375px;
  max-height: 665px;
}

.contenaire_tendance {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenaire_photo {
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*les carte dens le caralogue*/
.container_items {

  display: grid;
  grid-template-columns: 501px 501px 501px;
  grid-template-rows: 666px 666px 666px;
  gap: 20px;

}


.contenaire_catalogue {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-style: none;
  position: absolute;
  background-image: url(./img/panier_noir.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 535px;
  left: 220px;

}

.btn:hover {
  background-color: black;
  background-image: url(./img/panier_blanc.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: ease-in-out all 0.2s;

}

.item {
  position: relative;
  justify-content: center;
  text-align: center;
}

.titre {
  font-weight: bold;

}
/*section categorie*/
.container_categorie{
  display: flex;
  text-align: center;
  justify-content: center;
 
  margin: top 200px; 
  gap: 60px;
 
}
.categorie a{
  font-weight: 500;
text-decoration: none;
color: #111010;
font-weight: bold;
}
.categorie{
margin-top: 100px;
}


/*FOOTER*/
p{
  font-style: italic;
}
.footer_top_left{
  width: 100%;
  height: 400px;
  padding-top: 50px;
  border: #111010 solid 1px;
  text-align: center;

}
.footer_top_right{
  width: 100%;
  height:400px;
  padding-top: 50px;
  border: #111010 solid 1px;
  text-align: center;
  background-color: rgba(243, 227, 174, 0.74);
}
.wrapper{
  margin-top: 100px;
  border: #111010 solid 1px;
  display: flex;

  justify-content: space-between;
  width: 119%;
  
}
footer{
  justify-content: center;
}
